<%= form_for @task, :html => { :class => "form-horizontal task" } do |f| %>
    <% if @task.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @task.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <%= f.label :title, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :title, :class => 'form-control', :maxlength => 50 %>
        </div>
    </div>
    <div class="col-md-3"></div>
    <%= error_span(@task[:title]) %>
  </div>

  <div class="control-group row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <%= f.label :content, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_area :content, :class => 'form-control', :maxlength => 500, :rows => 10, :cols => 5 %>
        </div>
    </div>
    <div class="col-md-3"></div>
    <%= error_span(@task[:content]) %>
  </div>

  <div class="control-group row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <%= f.label :priority, :class => 'control-label' %>
        <div class="controls">
          <%= f.number_field :priority, in: 1..10 ,:class => 'form-control' %>
        </div>
    </div>
    <div class="col-md-3"></div>
    <%= error_span(@task[:priority]) %>
  </div>

  <div class="control-group row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <%= f.label :status, :class => 'control-label' %>
        <div class="controls">
          <%= f.select(:status, :class => 'form-control') do%>
            <%= [['offen'], ['in Arbeit'], ['beendet']].each do |c|%>
              <%= content_tag :option, c.first, value: c.last %>
            <% end %>
          <% end %>
        </div>
    </div>
    <div class="col-md-3"></div>
    <%= error_span(@task[:status]) %>
  </div>

  <div class="control-group row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <%= f.label :begin, :class => 'control-label' %>
        <div class="controls">
          <%= f.date_select :begin, :class => 'form-control' %>
        </div>
    </div>
    <div class="col-md-3"></div>
    <%= error_span(@task[:begin]) %>
  </div>

  <div class="control-group row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <%= f.label :end, :class => 'control-label' %>
        <div class="controls">
          <%= f.date_select :end, :class => 'form-control' %>
        </div>
    </div>
    <div class="col-md-3"></div>
    <%= error_span(@task[:end]) %>
  </div>
<br>
  <div class="control-group row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <% if params[:customer_id] != nil %>
          <%= f.collection_select :customer_id, Customer.all, :id, :name, {selected: params[:Customer_id]}, {class:"form-control"}  %>
      <% else %>
          <%= f.collection_select :customer_id, Customer.all, :id, :name, {prompt: 'Select a Customer'}, {class: "form-control"} %>
      <% end %>
    </div>
    <div class="col-md-3"></div>
    <%= error_span(@task[:customer_id]) %>
  </div>
<br>
  <div class="control-group row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
    <% if params[:subject_area_id] != nil %>
        <%= f.collection_select :subject_area_id, SubjectArea.all, :id, :name, {selected: params[:subject_area_id]}, {class:"form-control"}  %>
    <% else %>
        <%= f.collection_select :subject_area_id, SubjectArea.all, :id, :name, {prompt: 'Select a Subject Area'}, {class: "form-control"} %>
    <% end %>
    </div>
    <div class="col-md-3"></div>
    <%= error_span(@task[:subject_area_id]) %>
  </div>
<br>
<div class="control-group row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <table>
      <%= f.label :employees, :class => 'control-label' %>
      <div class="controls">
        <% Employee.all.each do |emp| %>
            <tr>
              <td>
            <% if @task.employees.include?(emp) %>
                <%= check_box_tag "employees[]", emp.id, {:checked => true} %>
            <% else %>
                <%= check_box_tag "employees[]", emp.id %>
            <% end %>
              </td>
              <td>
                <%= f.label emp.firstname + ' ' + emp.lastname %>
              </td>
            </tr>
        <% end %>
       </div>
      </table>
      </div>
    </div>
    <div class="col-md-3"></div>
    <%= error_span(@task[:employees]) %>
</div>
<br>
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                tasks_path, :class => 'btn btn-default' %>
    </div>
    <div class="col-md-3"></div>
</div>

<% end %>
