<%= form_for @task, :html => { :class => "form-horizontal task" } do |f| %>
    <% if @task.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @task.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <%= f.label :title, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :title, :class => 'form-control', :maxlength => 50 %>
        </div>
    </div>
    <div class="col-md-3"></div>
    <%= error_span(@task[:title]) %>
  </div>

  <div class="control-group row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <%= f.label :content, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_area :content, :class => 'form-control', :maxlength => 500, :rows => 10, :cols => 5 %>
        </div>
    </div>
    <div class="col-md-3"></div>
    <%= error_span(@task[:content]) %>
  </div>

  <div class="control-group row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <%= f.label :priority, :class => 'control-label' %>
        <div class="controls">
          <%= f.number_field :priority, in: 1..10 ,:class => 'form-control' %>
        </div>
    </div>
    <div class="col-md-3"></div>
    <%= error_span(@task[:priority]) %>
  </div>

  <div class="control-group row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <%= f.label :status, :class => 'control-label' %>
        <div class="controls">
          <%= f.select(:status, :class => 'form-control') do%>
            <%= [['offen'], ['in Arbeit'], ['beendet']].each do |c|%>
              <%= content_tag :option, c.first, value: c.last %>
            <% end %>
          <% end %>
        </div>
    </div>
    <div class="col-md-3"></div>
    <%= error_span(@task[:status]) %>
  </div>

  <div class="control-group row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <%= f.label :begin, :class => 'control-label' %>
        <div class="controls">
          <%= f.date_select :begin, :class => 'form-control' %>
        </div>
    </div>
    <div class="col-md-3"></div>
    <%= error_span(@task[:begin]) %>
  </div>

  <div class="control-group row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <%= f.label :end, :class => 'control-label' %>
        <div class="controls">
          <%= f.date_select :end, :class => 'form-control' %>
        </div>
    </div>
    <div class="col-md-3"></div>
    <%= error_span(@task[:end]) %>
  </div>

  <div class="control-group row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <%= f.label :customer_id, :class => 'control-label' %>
        <div class="controls">
          <%= f.select :customer_id, Customer.all.pluck(:name), :class => 'form-control' %>
        </div>
    </div>
    <div class="col-md-3"></div>
    <%= error_span(@task[:customer_id]) %>
  </div>

  <div class="control-group row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <%= f.label :subject_area_id, :class => 'control-label' %>
        <div class="controls">
          <%= f.select :subject_area_id, SubjectArea.all.pluck(:name), :class => 'form-control' %>
        </div>
    </div>
    <div class="col-md-3"></div>
    <%= error_span(@task[:subject_area_id]) %>
  </div>

<br>
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                tasks_path, :class => 'btn btn-default' %>
    </div>
    <div class="col-md-3"></div>
</div>
<% end %>
