<%- model_class = Task -%>
<div class="page-header">
  <h1 align="center"><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-1" align="center">
    <%= link_to t('.new', :default => t("helpers.links.new")),
                new_task_path,
                :class => 'btn btn-primary active btn-block' %>
  </div>
  <div class="col-md-9"></div>
</div>
<br>
<table class="table table-striped table-bordered table-hover" >
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:priority) %></th>
      <th><%= model_class.human_attribute_name(:status) %></th>
      <th><%= model_class.human_attribute_name(:begin) %></th>
      <th><%= model_class.human_attribute_name(:end) %></th>
      <th><%= model_class.human_attribute_name(:customer_id) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% Task.includes(:customer).each do |task| %>
    <% if task.end < Time.now && task.status != "beendet" %>
      <tr class="danger">
    <% elsif task.end > Time.now && task.status == "beendet"%>
      <tr class="success">
    <% else %>
      <tr>
    <% end %>
        <td ><%= link_to task.id, task_path(task) %></td>
        <td><%= task.title %></td>
        <td><%= task.priority %></td>
        <td><%= task.status %></td>
        <td><%= task.begin.strftime("%v") %></td>
        <td><%= task.end.strftime("%v") %></td>
        <td><%= Customer.find(task.customer_id).name %></td>
        <td>

          <%= link_to t('.more Info'), task_path(task), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_task_path(task), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      task_path(task),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


<div class="row">
  <div class="col-md-4"></div>
  <div align="center" class="col-md-4">
    <nav>
      <ul class="pagination ">
        <li>
          <a href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li class="active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li>
          <a href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="col-md-4"></div>
</div>